@import "../../../variable.scss";
*{
  font-family: "Montserrat",sans-serif;
}

.navbar {
  position: relative;
  height: 70px;
  width: 100%;
  padding-top: 20px;
  background: url(../../assets/image/bg4.png);
  z-index: 1;
}
.navbar-nav{
  margin-left: 150px;
}
.logoImage {
  height: 130px;
  position: absolute;
  top: 12px;
  left: 2%;
  margin: 0;
  z-index: 1;
}
.nav-item {
  padding: 8px;
  display: block;
  
}
.nav-link {
  text-align: center;
  // color: #525c65;
  color:black !important;
  text-transform: uppercase;
  display: block;
  font-size: 19px;
  font-weight: 400;
  padding: 17px 10px 14px;
  letter-spacing: 3px;
  // font-family: "reservation",sans-serif;
  // float: none !important;
  &:hover {
    color: $color-main !important;
    border-bottom: solid 2px $color-main;
    padding-bottom: 10px;
    font-size: 20px;
  }
}
@media (max-width:992px){
  .nav-link{
    background: url(../../assets/image/bg4.png);
    padding: 15px 0;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .nav-item{
    padding:0;
    width:100%;
  }
}


.nav-info {
  text-align: center;
  letter-spacing: 3px;
  color: black;
}
@media (max-width: 992px) {
  .nav-info{
    display: none;
  }
}




// @media (min-width: 992px) {
//   .navbar-expand-lg .navbar-collapse {
//     display: flex !important;
//     flex-basis: auto;
//     padding-right: 16px !important;
//   }
// }
// @media only screen and (max-width: 1004px) {
//   .nav-link {
//     padding: 10px 0px 10px 0px;
//     font-size: 15px;
//     left: 0 !important;
//     &:hover {
//       padding: inherit;
//       background-color: white;
//       color: black !important;
//     }
//   }
// }
// @media only screen and (width: 1440px) {
//   .col-lg-10 {
//     left: 5%;
//   }
// }

.navbar .navbar-toggler-icon {
  background-image: url('../../assets/image/fork.svg');
 
  }

  .navbar-light .navbar-toggler {
    // color:  ;
    border-color: transparent;
}