<section class="footer-bg">
    <div class="row">
        <div class="col-md-6 footerwords">
        <div>
            <br>
            <br>
            CHEF RASA SAYANG
            <br>
            <br>
            <br>
            <div style="font-size:12px;padding:0;">527 Willoughby Road,
            <br>
            <br>



            Willoughby NSW 2068

            <br>
            <br>
            02 8068 4402          
            </div>
        </div>
    </div>
        <div class="col-md-6 footerwords">

           Connect With Us on Facebook
            <hr>
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FChefRasaSayangChatswood%2F&tabs=timeline&width=340&height=130px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="130px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                <div style="width:100%;">
                 <div style="font-size:10px;margin-top:20px; padding:0;">Website by <a style="color:white !important" href="www.shinovatech.com"> Shinovatech</a> &#169; 2021</div>
</div>




<!--                 <iframe width="90%" height="340"
                src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=375%2C%20Victoria%20Avenue%20Chatswood%20NSW%202067+(Chef%20Rasa%20Sayang)&amp;ie=UTF8&amp;t=h&amp;z=13&amp;iwloc=B&amp;output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Plot a
                  route map</a></iframe> -->
            <!-- <img class="footer-logo" src="../../assets/image/logo.png">-->
            <!-- <h2 class="footer-title">Chef rasa sayang</h2> -->
<!--         </div> 
        <div class="col-md-6 footer-words">
            <div class="align-middle">
                <h3 class="footer-opening">Opening Hours</h3>
                <table class="footer-table">
                    <tr>
                        <td class="footer-day">Monday to Friday</td>
                        <td> 11.00AM-10.00PM</td>
                    </tr>
                    <tr>
                        <td class="footer-day">Saturday </td>
                        <td>10.30AM-10.00PM</td>
                    </tr>
                    <tr>
                        <td class="footer-day">Sunday </td>
                        <td>10.30AM-09.30PM</td>
                    </tr>
                </table>
                <h3><i class="material-icons" style="font-size:48px;"></i></h3>
                <span class="address">375, Victoria Avenue Chatswood NSW 2067</span>
                <h3><i class="fa fa-phone-square" style="font-size:24px"></i></h3>
                <span class="number">02 8068 4402</span>-->
                <!-- <h3><i class="fa fa-facebook-official" style="font-size:24px"></i></h3>-->
                <!--<span>02 8068 4402</span> -->
                <!--<br>
                <span>Dine in | Takeaway | Catering</span>
            </div> -->



         



        </div>
        
    </div>
</section>
<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
</style>