@import "../../../variable.scss";

*{
    font-family: "Montserrat",sans-serif;
}

.footer-bg{
/*    background: linear-gradient(45deg, #858585, black);
    opacity: 1;*/
background:rgba(13,13,13,.95);
}

.footer-left{
    padding: 10px;
    margin-top: 2vh;
}

// .footer-logo{
//     max-height: 45vh;
//     // position: absolute;
//     top: 0px;
//     left: 0;
//     margin: 5vh;
//     padding: 5vh 0;
// }

.footer-words{
    color: white;
    text-align: center;
}

.footerwords{
    color: #FCF2F2;
    line-height:1;

    padding-left:65px;
    padding-top:40px;
    padding-bottom:45px;
    padding-right:65px;

}

.footer-pic{
    width: 100%;
}

.footer-table{
    margin:auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-right{
    padding: 10vh;
    display: inline;
}

.footer-opening{
    font-size:6vh;
}
// .footer-day{
//     border-right: 1px dotted white;
// }

td{
    padding: 8px;
    font-size: 2vh;
    text-align: left;
}

span{
    padding:8px;
    font-size:2vh;
}

.row{
    margin-right:0;
    margin-left: 0;
}