.footer-bg{
    background-color: black;
    opacity: 1;
}

.footer-left{
    padding: 10px
}

.footer-logo{
    height: 130px;
    // position: absolute;
    top: 12px;
    left: 0;
    margin: 0;
}

.footer-words{
    color: white;
    text-align: center;
}

.footer-pic{
    width: 100%;
}

.footer-table{
    margin:auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-right{
    padding-right: 0;
    padding-left: 0;
    position: relative;
    max-height: 450px;
    overflow: hidden;

}

td{
    padding: 8px;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    text-align: left;
    
}

span{
    padding:8px;
}

.row{
    margin-right:0;
    margin-left: 0;
}