<div>
    <h3>Opening hours</h3>
    <table>
        <tr>
            <td>Monday to Friday</td>
            <td> 1100-1500</td>
        </tr>
        <tr>
            <td>Saturday </td>
            <td>1030-2200</td>
        </tr>
        <tr>
            <td>Sunday </td>
            <td>1030-2130</td>
        </tr>
    </table>

    <h3><i class="material-icons" style="font-size:48px;"></i></h3>
    <span>375, Victoria Avenue Chatswood NSW 2067</span>


    <h3><i class="fa fa-phone-square" style="font-size:24px"></i></h3>
    <span>02 8068 4402</span>
    <h3><i class="fa fa-facebook-official" style="font-size:24px"></i></h3>
    <span>02 8068 4402</span>

    <span>Dine in | Takeaway | Catering</span>

</div>
