<section class="footer-bg">
    <div class="container footer-container">
        <div class="row">
            <img class="footer-logo" src="../../assets/image/logo.png">
            <h2>Chef rasa sayang</h2>
        </div>
        <div class="container">

            <h3>Opening hours</h3>
            <table>
                <tr>
                    <td>Monday to Friday</td>
                    <td> 1100-1500</td>
                </tr>
                <tr>
                    <td>Saturday </td>
                    <td>1030-2200</td>
                </tr>
                <tr>
                    <td>Sunday </td>
                    <td>1030-2130</td>
                </tr>
            </table>

        </div>
        <div class="container">
            <div class="row">
                <h3><i class="material-icons" style="font-size:48px;"></i></h3>
                <span>375, Victoria Avenue Chatswood NSW 2067</span>
            </div>
            <div class="row">
                <h3><i class="fa fa-phone-square" style="font-size:24px"></i></h3>
                <span>02 8068 4402</span>
            </div>
            <!-- <h3><i class="fa fa-facebook-official" style="font-size:24px"></i></h3>
            <span>02 8068 4402</span> -->
            <div class="row">
                <span>Dine in | Takeaway | Catering</span>
            </div>
        </div>
    </div>

</section>