<section class="about-bg">
    <div class="container ">
        <h2>About Us</h2>
        <div class="row ">
          <div class="column">
            <p>Our restaurantkmcvkjefvkeoflkvp[oekfopkergopkergkeropkeropkeropgkr</p>
    
          </div>
        </div>
      </div>
</section>

<section id="mu-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-gallery-area">

            <div class="mu-title">
              <span class="mu-subtitle">Discover</span>
              <h2>Our Gallery</h2>
            </div>

            <div class="mu-gallery-content">
            
            
              <div class="mu-gallery-body">
               
                <div class="mu-single-gallery col-md-4">
                    <div class="mu-single-gallery-item">
	                    <figure class="mu-single-gallery-img">
	                      <a class="mu-imglink" href="../../assets/image/satay.jpg" width="150px" height="150px">
                          <img alt="img" src="../../assets/image/satay.jpg" width="150px" height="150px">
                           <!-- <div class="mu-single-gallery-info">
                              <img class="mu-view-btn" src="assets/img/plus.png" alt="plus icon img">
                          </div>  -->
                        </a>
	                    </figure>            
                  	</div>
                </div>
              
                <div class="mu-single-gallery col-md-4">
                  	 <div class="mu-single-gallery-item">
                        <figure class="mu-single-gallery-img">
                          <a class="mu-imglink" href="assets/img/gallery/2.jpg">
                            <img alt="img" src="assets/img/gallery/2.jpg">
                             <div class="mu-single-gallery-info">
                                <img class="mu-view-btn" src="assets/img/plus.png" alt="plus icon img">
                            </div> 
                          </a>
                        </figure>            
                    </div>
                </div>               
        
                <div class="mu-single-gallery col-md-4">                  
                  	 <div class="mu-single-gallery-item">
                      <figure class="mu-single-gallery-img">
                        <a class="mu-imglink" href="assets/img/gallery/3.jpg">
                          <img alt="img" src="assets/img/gallery/3.jpg">
                           <div class="mu-single-gallery-info">
                              <img class="mu-view-btn" src="assets/img/plus.png" alt="plus icon img">
                          </div> 
                        </a>
                      </figure>            
                    </div>
                </div>               
        
                <div class="mu-single-gallery col-md-4">                  
                  	<div class="mu-single-gallery-item">
                      <figure class="mu-single-gallery-img">
                        <a class="mu-imglink" href="assets/img/gallery/4.jpg">
                          <img alt="img" src="assets/img/gallery/4.jpg">
                           <div class="mu-single-gallery-info">
                              <img class="mu-view-btn" src="assets/img/plus.png" alt="plus icon img">
                          </div> 
                        </a>
                      </figure>            
                    </div>
                </div>
            
                <div class="mu-single-gallery col-md-4">                  
                  	<div class="mu-single-gallery-item">
                      <figure class="mu-single-gallery-img">
                        <a class="mu-imglink" href="assets/img/gallery/5.jpg">
                          <img alt="img" src="assets/img/gallery/5.jpg">
                           <div class="mu-single-gallery-info">
                              <img class="mu-view-btn" src="assets/img/plus.png" alt="plus icon img">
                          </div> 
                        </a>
                      </figure>            
                    </div>
                </div>               
            
                <div class="mu-single-gallery col-md-4">                  
                   <div class="mu-single-gallery-item">
                      <figure class="mu-single-gallery-img">
                        <a class="mu-imglink" href="assets/img/gallery/6.jpg">
                          <img alt="img" src="assets/img/gallery/6.jpg">
                           <div class="mu-single-gallery-info">
                              <img class="mu-view-btn" src="assets/img/plus.png" alt="plus icon img">
                          </div> 
                        </a>
                      </figure>            
                    </div>
                </div>
         
                <div class="mu-single-gallery col-md-4">                  
                  	<div class="mu-single-gallery-item">
                      <figure class="mu-single-gallery-img">
                        <a class="mu-imglink" href="assets/img/gallery/7.jpg">
                          <img alt="img" src="assets/img/gallery/7.jpg">
                           <div class="mu-single-gallery-info">
                              <img class="mu-view-btn" src="assets/img/plus.png" alt="plus icon img">
                          </div> 
                        </a>
                      </figure>            
                    </div>
                </div>               
         
                <div class="mu-single-gallery col-md-4">                  
                  	<div class="mu-single-gallery-item">
                      <figure class="mu-single-gallery-img">
                        <a class="mu-imglink" href="assets/img/gallery/8.jpg">
                          <img alt="img" src="assets/img/gallery/8.jpg">
                           <div class="mu-single-gallery-info">
                              <img class="mu-view-btn" src="assets/img/plus.png" alt="plus icon img">
                          </div> 
                        </a>
                      </figure>            
                    </div>
                </div>               
           
                <div class="mu-single-gallery col-md-4">                  
                  	<div class="mu-single-gallery-item">
                      <figure class="mu-single-gallery-img">
                        <a class="mu-imglink" href="assets/img/gallery/9.jpg">
                          <img alt="img" src="assets/img/gallery/9.jpg">
                           <div class="mu-single-gallery-info">
                              <img class="mu-view-btn" src="assets/img/plus.png" alt="plus icon img">
                          </div> 
                        </a>
                      </figure>            
                    </div>
                </div>
          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>