<section class="about-bg">
  <div class="container about-container">
    <div class="row">
      <div class="col-lg-6 about-left">
        <h2 class="about-h2 align-left">About Us</h2>
        <p> Chef Rasa Sayang Group is a Malaysian Restaurant Group founded in Kuala Lumpur Malaysia since the 1980’s
          providing customers with Quality and Authentic Malaysian Food.
          <br>
          <br>
          They have now expanded bringing this exceptional taste to Chatswood, Sydney, Australia saving you the 6600km
          trip to satisfy your cravings for Malaysian food.
          <br>
          <br>
          Not only do we excel in providing authentic Malaysia taste, our food are made of quality ingredients.
          Our menu consists of many uniquely Malaysian food that are hard to find elsewhere in Sydney. Among them are
          our famous Yong Tofu, Pan Fried Raddish cake, our signature Wa Tan Hor, Butter Prawns and many more.</p>
      </div>
      <div class="col-lg-6 about-right">
        <img src="../../assets/image/shop.jpg" class="about-shop">
      </div>
    </div>
  </div>
</section>

<section class="about-gallery">
  <div class="container">
    <h2 class="gallery-h2">Specialities Gallery</h2>

    
      <div class="col-lg-4" class="gallery-card">
        <img src="../../assets/image/pic1.jpg" class="gallery-pic">
      </div>
      <div class="col-lg-4" class="gallery-card">
        <img src="../../assets/image/pic1.jpg" class="gallery-pic">
      </div>
    </div>
    <div class="col-lg-4" class="gallery-card">
      <img src="../../assets/image/pic1.jpg" class="gallery-pic">
    </div>
  
</section>


