* {
  font-family: "Montserrat", sans-serif;
}

.about-bg {
    width: 100%;
}

.about-container {
  margin-top: 300px;
}

.about-shop {
  // height: 50vh;
  // top: 12px;
  // left: 0;
  // margin: 0;
  width: 100%;
}

.about-h2 {
  text-align: center;
  font-size: 30px;
}

.about-left{
  padding: 10px;
}

.gallery-pic{
  height:100px;
  width: 100px;
}