<div class="wrapper">

    <h2>Our Menu</h2>

    <div class="buttons-container">
        <a href="#" class="button button--is-active" data-target="riceMenu">Rice</a>
        <a href="#" class="button" data-target="coffeeMenu">Coffee</a>
        <a href="#" class="button" data-target="noodlesMenu">Noodles</a>
        <a href="#" class="button" data-target="drinksMenu">Drinks</a>
    </div>

    <!-- Start Rice Menu -->
    <div class="menu menu--is-visible" id="riceMenu">
        <div class="item">
            <div class="column">
                <img src="../../assets/image/satay.jpg" class="item__foodpic">
            </div>
            <div class="item__header">
                <h3 class="item__title">Hainan Chicken Rice</h3>
                <span class="item__dots"></span>
                <span class="item__price">$22</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="column">
                <img src="../../assets/image/satay.jpg" class="item__foodpic">
            </div>
            <div class="item__header">
                <h3 class="item__title">Nasi Lemak</h3>
                <span class="item__dots"></span>
                <span class="item__price">$20</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="column">
                <img src="../../assets/image/satay.jpg" class="item__foodpic">
            </div>
            <div class="item__header">
                <h3 class="item__title">Nasi Goreng</h3>
                <span class="item__dots"></span>
                <span class="item__price">$18</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="column">
                <img src="../../assets/image/satay.jpg" class="item__foodpic">
            </div>
            <div class="item__header">
                <h3 class="item__title">Nasi Curry AYAM</h3>
                <span class="item__dots"></span>
                <span class="item__price">$18</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="column">
                <img src="../../assets/image/satay.jpg" class="item__foodpic">
            </div>
            <div class="item__header">
                <h3 class="item__title">Nasi ITIK</h3>
                <span class="item__dots"></span>
                <span class="item__price">$18</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="column">
                <img src="../../assets/image/satay.jpg" class="item__foodpic">
            </div>
            <div class="item__header">
                <h3 class="item__title">Bah Kuteh</h3>
                <span class="item__dots"></span>
                <span class="item__price">$15</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>
    </div> <!-- End Rice Menu -->

    <!-- Start Coffee Menu -->
    <div class="menu" id="coffeeMenu">
        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Cappuccino</h3>
                <span class="item__dots"></span>
                <span class="item__price">$4</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Iced Coffee</h3>
                <span class="item__dots"></span>
                <span class="item__price">$5</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Café Latte</h3>
                <span class="item__dots"></span>
                <span class="item__price">$3</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Espresso</h3>
                <span class="item__dots"></span>
                <span class="item__price">$4</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>
    </div> <!-- End Coffee Menu -->

    <!-- Start Noodles Menu -->
    <div class="menu" id="noodlesMenu">
        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Chicken Noodles</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Egg Noodles</h3>
                <span class="item__dots"></span>
                <span class="item__price">$12</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Veg Noodles</h3>
                <span class="item__dots"></span>
                <span class="item__price">$10</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Chuck Norris Noodles</h3>
                <span class="item__dots"></span>
                <span class="item__price">$20</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>
    </div> <!-- End Noodles Menu -->

    <!-- Start Drinks Menu -->
    <div class="menu" id="drinksMenu">
        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Drink13</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Drink23</h3>
                <span class="item__dots"></span>
                <span class="item__price">$12</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Drink12</h3>
                <span class="item__dots"></span>
                <span class="item__price">$10</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">Drink23</h3>
                <span class="item__dots"></span>
                <span class="item__price">$20</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>
    </div> <!-- End Drinks Menu -->

</div> <!-- End Wrapper -->