<div class="menu-bg">
    <div class="wrapper">

        <h2 class="title-menu">Our Menu</h2>

  <p><a href="https://deliveroo.com.au/backlinks/21952"><img src="https://deliveroo.com.au/backlinks/21952.png" alt="Order high-quality takeaway online from top Australian restaurants, fast delivery straight to your home or office"></a></p>
  <br>

        <div class="buttons-container">
            <a href="#" class="button button--is-active" data-target="snacksMenu"  >Snacks</a>
            <a href="#" class="button" data-target="riceMenu"  >Rice</a>
            <a href="#" class="button" data-target="noodlesMenu"  >Noodles</a>
            <a href="#" class="button" data-target="drinks" >Drinks</a>
<!--             <a href="#" class="button" data-target="chefMenu" >Chefs Special</a> -->
        </div>

        <!-- Start Snacks Menu -->
        <div class="menu menu--is-visible" id="snacksMenu" >

                <div class="row">
                    <div class="col-sm-6" style="margin-top:40px;">

                        <div class="col-sm-12" style="text-align:center">
                            <img src="../../assets/image/menuitem/image36.jpg" style="width:280px; height:170px;">
                        </div>

                        <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                            <div>CHICKEN CURRY PUFF(each) <br> 咖喱角(鸡肉)</div>
                                <div style="margin-top:5px;">$2.90</div>
                                <div style="margin-top:5px; font-size:12px;">Dough filled with chunks of potatoes, small pieces of chicken and chopped up boiled egg, cooked in the spicy and flavorful Malaysian or Nyonya curry.</div>
                        </div>

                    </div>


                    <div class="col-sm-6" style="margin-top:40px;">

                        <div class="col-sm-12" style="text-align:center">
                            <img src="../../assets/image/menuitem/image31.jpg" style="width:280px; height:170px;">
                        </div>


                        <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                            <div>YAU CHA KWAI(1 roll) <br> 油条</div>
                                <div style="margin-top:5px;">$1.90</div>
                                <div style="margin-top:5px; font-size:12px;">
                                    Crispy deep-fried snacks filled with a delicious stuffing of lightly spiced and crunchy vegetables. 
                                </div>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6" style="margin-top:40px;">

                        <div class="col-sm-12" style="text-align:center">
                            <img src="../../assets/image/menuitem/image32.jpg" style="width:280px; height:170px;">
                        </div>
                        <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                            <div>CHEE CHEONG FUN <br> 猪肠粉 <br> A) SWEET SAUCE 甜酱 <br> B) GARLIC AND SHALLOT
                                蒜葱<br> C) CURRY SAUCE 咖喱</div>
                                <div style="margin-top:5px;">$3.90</div>
                                <div style="margin-top:5px; font-size:12px;">
                                    Sweet sauce:<br>
                                    Broad flat rice noodles served with a sweet sauce
                                    <br>
                                    Curry sauce(spicy):<br>
                                    Broad flat rice noodles served with a curry sauce.
                                    <br>
                                    Garlic sauce:<br>
                                    Broad flat rice noodles served with garlic sauce.
                                    
                                </div>
                        </div>


                    </div>


                    <div class="col-sm-6" style="margin-top:40px;">

                        <div class="col-sm-12" style="text-align:center">
                            <img src="../../assets/image/menuitem/image39.jpg" style="width:280px; height:170px;">
                        </div>

                        <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                            <div>ANCHOVIES AND PEANUTS<br> 花生江鱼仔</div>
                                <div style="margin-top:5px;">$5.90</div>
                                <div style="margin-top:5px; font-size:12px;">
                                    Snack of crunchy, appetizing, crispy anchovies and roasted peanuts (medium spicy)
                                </div>
                        </div>



                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6" style="margin-top:40px;">

                        <div class="col-sm-12" style="text-align:center">
                            <img src="../../assets/image/menuitem/image34.jpg" style="width:280px; height:170px;">
                        </div>


                        <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                            <div>PANDAN CHICKEN(3pcs) <br> 香兰鸡</div>
                                <div style="margin-top:5px;">$3.90</div>
                                <div style="margin-top:5px; font-size:12px;">
                                    Deep fried boneless chicken meat moist, tender, infused with refreshing pandan aroma and encased in the leaf packets.
                                </div>
                        </div>
                    </div>


                    <div class="col-sm-6" style="margin-top:40px;">

                        <div class="col-sm-12" style="text-align:center">
                            <img src="../../assets/image/menuitem/image38.jpg" style="width:280px; height:170px;">
                        </div>

                        <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                            <div>LOH BAK <br> 五香卤肉</div>
                                <div style="margin-top:5px;">$6.90</div>
                                <div style="margin-top:5px; font-size:12px;">
                                    Deep-fried composition of various meats, vegetables and other ingredients consisting of minced pork, prawn and fish seasoned with five-spice powder rolled inside a bean curd skin
                                </div>

                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6" style="margin-top:40px;">

                        <div class="col-sm-12" style="text-align:center">
                            <img src="../../assets/image/menuitem/image37.jpg" style="width:280px; height:170px;">
                        </div>


                        <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                            <div>FRIED CHICKEN WINGS(4 pcs) <br> 炸鸡翅</div>
                                <div style="margin-top:5px;">$6.90</div>
                                <div style="margin-top:5px; font-size:12px;">
                                    4 pieces of chicken wings deep fried to a golden hue and best served with chili sauce.
                                </div>
                        </div>
                    </div>


                    <div class="col-sm-6" style="margin-top:40px;">

                        <div class="col-sm-12" style="text-align:center">
                            <img src="../../assets/image/menuitem/image42.jpg" style="width:280px; height:170px;">
                        </div>

                        <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                            <div>CHICKEN SATAY(half dozen) <br> 鸡肉沙爹</div>
                                <div style="margin-top:5px;">$9.90</div>
                                <div style="margin-top:5px; font-size:12px;">
                                    Sliced chicken meat marinated, skewered and grilled to perfection served with red onions, ketupat and cucumber dip with peanut satay sauce.
                                </div>
                        </div>

                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-6" style="margin-top:40px;">

                        <div class="col-sm-12" style="text-align:center">
                            <img src="../../assets/image/menuitem/image35.jpg" style="width:280px; height:170px;">
                        </div>


                        <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                            <div>VEGE SPRING ROLL(4 rolls) <br>蔬菜春卷</div>
                                <div style="margin-top:5px;">$3.90</div>
                                <div style="margin-top:5px; font-size:12px;">
                                    Crispy deep-fried snacks filled with a delicious stuffing of lightly spiced and crunchy vegetables.
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top:40px;">

                        <div class="col-sm-12" style="text-align:center">
                            <img src="../../assets/image/menuitem/image40.jpg" style="width:280px; height:170px;">
                        </div>


                        <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                            <div>SAMBAL KANGKUNG<br>通菜</div>
                            <div style="margin-top:5px; font-size:12px;">
                                Stir fried kangkung (water spinach) in Sambal chilies and shrimp.
                            </div>
                        </div>
                    </div>
                </div> 
                 
        </div>
        <!-- End Snacks Menu -->

        <!-- Start Rice Menu -->








        <div class="menu" id="riceMenu">


            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image41.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>NASI LEMAK NYONYA CURRY CHICKEN <br> 咖喱鸡娘惹椰浆饭</div>
                            <div style="margin-top:5px;">$13.90</div>
                            <div style="margin-top:5px; font-size:12px;">
                                A very aromatic coconut rice dish. Rice cooked in coconut milk, served with ikan bilis (anchovies), egg, groundnuts and cooked sambal (chilies) and chicken curry
                            </div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image43.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>NASI LEMAK NYONYA RENDANG BEEF <br> 冷当牛肉娘惹椰浆饭</div>
                            <div style="margin-top:5px;">$14.90</div>
                            <div style="margin-top:5px; font-size:12px;">
                                A very aromatic coconut rice dish. Rice cooked in coconut milk, served with ikan bilis (anchovies), egg, groundnuts and cooked sambal (chilies) and Rendang beef
                            </div>
                    </div>



                </div>

            </div>





            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image44.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>NASI LEMAK NYONYA CURRY LAMB <br> 咖喱羊娘惹椰浆饭</div>
                            <div style="margin-top:5px;">$15.90</div>
                            <div style="margin-top:5px; font-size:12px;">
                                A very aromatic coconut rice dish. Rice cooked in coconut milk, served with ikan bilis (anchovies), egg, groundnuts and cooked sambal (chilies) and curry lamb                           
                            </div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image45.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>NASI LEMAK NYONYA CURRY PORK <br> 咖喱猪娘惹椰浆饭</div>
                            <div style="margin-top:5px;">$15.90</div>
                            <div style="margin-top:5px; font-size:12px;">
                                A very aromatic coconut rice dish. Rice cooked in coconut milk, served with ikan bilis (anchovies), egg, groundnuts and cooked sambal (chilies) and curry pork                          
                            </div>



                    </div>



                </div>

            </div>






            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image46.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>NASI LEMAK NYONYA RENDANG CHICKEN <br> 冷当鸡娘惹椰浆饭</div>
                            <div style="margin-top:5px;">$14.90</div>
                            <div style="margin-top:5px; font-size:12px;">
                                A very aromatic coconut rice dish. Rice cooked in coconut milk, served with ikan bilis (anchovies), egg, groundnuts and cooked sambal (chilies) and Rendang chicken 
                            </div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image48.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>NASI GORENG BELACAN WITH PRAWNS <br> 马来炒饭</div>
                            <div style="margin-top:5px;">$13.90</div>
                            <div style="margin-top:5px; font-size:12px;">
                                Nasi goreng means fried rice in Malay and Indonesian. Stir fried rice dish with prawns and mixed vegetables added, typically spiced with  shrimp paste (Sambal Belacan) and chilli.
                            </div>
                    </div>



                </div>

            </div>


            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image21.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>CHICKEN SALTED FISH FRIED RICE <br> 咸鱼鸡粒炒饭</div>
                            <div style="margin-top:5px;">$12.90</div>
                            <div style="margin-top:5px; font-size:12px;">
                                Stir fried rice dish containing small chicken pieces, small salted fish cubes, scrambled egg pieces and mixed veges, stir fried in the wok with soya sauce.
                            </div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image49.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>WAT TAN WITH RICE <br> 滑蛋炆饭</div>
                            <div style="margin-top:5px;">$14.90</div>
                            <div style="margin-top:5px; font-size:12px;">
                                Rice with silky egg gravy, prawns, fish cake, , choy sum and fried shallots                            
                            </div>
                    </div>



                </div>

            </div>




            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image22.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>BAK KUT TEH WITH RICE <br> 肉骨茶饭</div>
                            <div style="margin-top:5px;">$14.90</div>
                            <div style="margin-top:5px; font-size:12px;">
                                Bak KutTeh in Hokkien dialect called “Pork Rib Tea”. A pork rib soap dish cooked in pork broth flavored with various Chinese medicinal herbs (mainly Angelica Sinensis) best served with white rice.
                                (A popular aromatic herbal soup or ‘tea’ made of pork (usually pork ribs) cooked in Chinese herbs. Served for breakfast or lunch meal with rice) 
                            </div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image50.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>YONG TAU FU SOUP WITH RICE <br> 招牌釀豆腐饭</div>
                            <div style="margin-top:5px;">$16.90</div>
                            <div style="margin-top:5px; font-size:12px;">
                                Various tofu and vege served with rice. Tofu and vege that have been filled with home made fish paste.                          
                            </div>
                    </div>



                </div>

            </div>





        </div> <!-- End Rice Menu -->

        <!-- Start Noodles Menu -->

        
        <div class="menu" id="noodlesMenu">

            <h3 style="color:white;">NOODLE SOUP</h3>

            <div class="row" style="margin-top:-120px;">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image16.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>CHICKEN LAKSA <br> 鸡肉叻沙</div>
                            <div style="margin-top:5px;">$12.90</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image28.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>SEAFOOD LAKSA <br> 海鲜叻沙</div>
                            <div style="margin-top:5px;">$15.90</div>
                    </div>



                </div>

            </div>



            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image29.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>YONG TAU FU LAKSA <br> 招牌釀豆腐叻沙</div>
                            <div style="margin-top:5px;">$17.90</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image12.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>PAN MEE <br> 客家板面</div>
                            <div style="margin-top:5px;">$14.90</div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image24.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>FISH BALL NOODLE <br> 鱼丸粉</div>
                            <div style="margin-top:5px;">$10.90</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image50.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>YONG TAU FU NOODLE SOUP <br> 釀豆腐清汤面</div>
                            <div style="margin-top:5px;">$16.90</div>
                    </div>
                </div>
            </div>


            <!-- <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image15.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>FISH HEAD NOODLE <br> 鱼头米粉</div>

                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image14.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>LOH MEE <br> 卤面</div>

                    </div>
                </div>
            </div> -->



            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image27.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>FISH FILLET NOODLE <br>酸菜鱼片粉</div>
                            <div style="margin-top:5px;">$12.90</div>
                    </div>

                </div>

<!-- 
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image50.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>CHICKEN NOODLE <br> 鸡丝河粉</div>
                            <div style="margin-top:5px;">$10.90</div>
                    </div>
                </div> -->


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image30.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>PRAWN/HAR MEE <br> 虾面</div>
                            <div style="margin-top:5px;">$15.90</div>
                    </div>

                </div>


            </div>


            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image25.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>PORK NOODLE <br> 猪肉粉</div>
                            <div style="margin-top:5px;">$12.90</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image11.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>CLAYPOT YEE MEE <br> 瓦煲伊面</div>
                            <div style="margin-top:5px;">$14.90</div>
                    </div>
                </div>
            </div>




            <div class="row" style="height:10vh"> </div>
            <h3 style="color:white;">NOODLES FROM WOK</h3>



            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image17.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>BELACAN VERMICELLI WITH PRAWNS <br> 马来盏炒米</div>
                            <div style="margin-top:5px;">$13.90</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image20.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>MEE GORENG WITH PRAWNS<br> 马来炒面</div>
                            <div style="margin-top:5px;">$13.90</div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image19.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>CHAR KWAY TEOW <br> 炒粿条</div>
                            <div style="margin-top:5px;">$13.90</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image18.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>MEE SIAM WITH PRAWNS <br> 暹罗米</div>
                            <div style="margin-top:5px;">$13.90</div>
                    </div>
                </div>
            </div>



















            <div class="row" style="height:10vh"> </div>
            <h3 style="color:white; margin-top:30px;">NOODLES FROM WOK (Serve for two)</h3>






            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image15.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>FISH HEAD NOODLE SOUP (Sunday, Monday and Tuesday only)<br> 酸菜鱼头米（周日，周一，周二）</div>
                            <div style="margin-top:5px;">$20.00</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image14.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>LOH MEE (Wednesday & Thursday only) <br> 卤面 （周三， 周四）</div>
                        <div style="margin-top:5px;">$24.00</div>
                    </div>
                </div>
            </div>








            <div class="row">
                <!-- <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>FISH HEAD NOODLE SOUP (Sunday, Monday and Tuesday only)<br> 酸菜鱼头米（周一， 周二）</div>
                            <div style="margin-top:5px;">$20.00</div>
                    </div>

                </div> -->




                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image1.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>WAT TAN HOR FUN (Friday and Saturday only)   <br> 滑蛋炒河粉 （周五， 周六)</div>
                            <div style="margin-top:5px;">$25.00</div>
                    </div>

                </div>

                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image2.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>HOKKIEN MEE <br> 福建炒面 （周三， 周四）</div>
                            <div style="margin-top:5px;">$24.00</div>
                    </div>
                </div>
            </div>





            <!-- <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image1.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>WAT TAN HOR FUN (Friday and Saturday only)   <br> 滑蛋炒河粉 （周五， 周六)</div>
                            <div style="margin-top:5px;">$25.00</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                      
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>WAT TAN HOR YINYANG (Friday and Saturday only)<br>滑蛋炒鸳鸯 （周五， 周六)</div>
                            <div style="margin-top:5px;">$25.00</div>
                    </div>
                </div>
            </div> -->





            <div class="row" style="height:10vh"> </div>
            <h3 style="color:white; margin-top:30px;">OTHER NOODLES</h3>


            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image3.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>MINCED PORK DRY NOODLE<br> 肉碎干捞面</div>
                            <div style="margin-top:5px;">$20.00</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">

                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>CHICKEN DRY NOODLE <br> 鸡丝干捞面</div>
                            <div style="margin-top:5px;">$13.90</div>
                    </div>
                </div>
            </div>





            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image4.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>CURRY CHICKEN DRY NOODLE <br> 咖喱鸡干捞面</div>
                            <div style="margin-top:5px;">$13.90</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image5.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>RENDANG BEEF DRY NOODLE <br> 冷当牛干捞面</div>
                            <div style="margin-top:5px;">$15.90</div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image6.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>RENDANG CHICKEN DRY NOODLE <br> 冷当鸡干捞面</div>
                            <div style="margin-top:5px;">$15.90</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image7.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>CURRY LAMB DRY NOODLE <br> 咖喱羊干捞面</div>
                            <div style="margin-top:5px;">$16.90</div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image8.jpg" style="width:280px; height:170px;">
                    </div>

                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>CURRY PORK DRY NOODLE <br> 咖喱猪干捞面</div>
                            <div style="margin-top:5px;">$16.90</div>
                    </div>

                </div>


                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image9.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>DRY PAN MEE <br> 干捞板面</div>
                            <div style="margin-top:5px;">$14.90</div>
                    </div>
                </div>
            </div>



            <div class="row">

                <div class="col-sm-6" style="margin-top:40px;">

                    <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/image/menuitem/image10.jpg" style="width:280px; height:170px;">
                    </div>


                    <div class="col-sm-12" style="text-align:center; margin-top:10px; color:white;">
                        <div>CHILLI PAN MEE <br> 辣椒板面</div>
                            <div style="margin-top:5px;">$16.90</div>
                    </div>
                </div>
            </div>

        </div>

        <!-- End Noodles Menu -->

        <!-- Start Chef Menu -->



        <div class="menu" id="drinks">
            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">COKE, COKE ZERO, SPRITE, ROOT BEER, SOLO<br></h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$3.00</span>
                </div>
            </div>


            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">100 PLUS<br></h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$3.90</span>
                </div>
            </div>
        </div>





        <!-- <div class="menu" id="chefMenu">
            <section class="chefspecial-header">CHICKEN</section>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">NYONYA CURRY CHICKEN <br> 娘惹咖哩鸡</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$18.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">MARMITE CHICKEN <br>妈密鸡</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$17.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">CRISPY OATS CHICKEN <br>麦片鸡</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$17.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">RENDANG CHICKEN <br> 冷当鸡</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$20.50</span>
                </div>
 
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">SWEET SOUR CHICKEN <br> 菠萝咕噜肉鸡</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$17.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">LEMON CHICKEN <br> 柠汁鸡扒</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$17.50</span>
                </div>

            </div>

            <section class="chefspecial-header">TOFU</section>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">VEGE TOFU POT <br> 蔬菜豆腐煲</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$16.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">COLD TOFU WITH GARLIC SHALLOT <br>蒜蔥冷豆腐</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$13.00</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">CURRY TOFU POT <br> 咖哩豆卜煲</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$16.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">SEAFOOD TOFU POT <br>海鲜豆腐煲</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$20.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">MINCED MEAT TOFU POT<br> 肉碎豆腐煲</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$18.90</span>
                </div>
            </div>

            <section class="chefspecial-header">SOUP FOR ONE</section>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">YONG TO FU POT<br> 釀豆腐煲</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$16.00</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">GINGER WINE CHICKEN <br>黄酒鸡</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$17.50</span>
                </div>
            </div>

            <section class="chefspecial-header">SOUP TO SHARE</section>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">PRESERVED VEGE FISH HEAD SOUP<br> 酸菜鱼头汤</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$17.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">PEPPER PORK TRIPE SOUP<br>胡椒猪肚汤</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$18.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">SEAFOOD TOM YUM SOUP<br>海鲜冬阴汤</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$20.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">MINCED MEAT TOFU POT <br> 肉碎豆腐煲</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$18.90</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">BAK KUT TEH <br> 肉骨茶</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$25.00</span>
                </div>

            </div>

            <section class="chefspecial-header">SEAFOOD</section>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">MALAYSIAN CHILLI BABY CLAMS <br> 辣子花蛤</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$14.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">KAM HEONG BABY CLAMS <br> 甘香花蛤</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$14.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">SUPERIOR BABY CLAMS <br> 上汤花蛤</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$14.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">ASSAM SOTONG <br> 亚参鱿鱼</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$24.00</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">SAMBAL PETAI SOTONG<br> 叁巴臭豆鱿鱼</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$25.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">ASSAM PRAWNS<br> 亚参虾</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$26.00</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">SAMBAL PETAI PRAWNS <br> 叁巴臭豆虾</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$27.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">MARMITE KING PRAWNS <br>妈密大虾</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$29.00</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">SALT AND PEPPER KING PRAWNS<br> 椒盐大虾</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$29.00</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">KAM HEONG CRAB <br>甘香大虾</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$29.00</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">CRISPY OATS KING PRAWNS <br>麦片大虾</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$29.00</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">CURRY FISH HEAD <br>咖喱鱼头</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$30.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">CURRY STINGRAY <br>咖喱魔鬼鱼</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$30.50</span>
                </div>
            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">BLACK PEPPER CRAB <br>黑椒花蟹</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$39.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">MALAYSIAN CHILLI CRAB <br>辣子花蟹</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$39.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">KAM HEONG CRAB <br>甘香花蟹</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$39.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">CURRY CRAB<br> 咖喱花蟹</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$39.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">GINGER SHALLOT FISH FILET <br> 姜葱鱼片</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$20.50</span>
                </div>

            </div>

            <section class="chefspecial-header">PORK</section>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">STEAMED MINCED PORK
                        WITH SALTED SHRIMP <br> 咸虾蒸肉饼</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$19.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">BRAISED PORK HOCK <br> 卤猪手</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$16.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">PORK TROTTER WITH SWEET VINEGAR
                        <br> 猪脚醋</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$18.00</span>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">SWEET SOUR PORK <br>菠萝咕噜肉</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$19.50</span>
                </div>

            </div>

            <section class="chefspecial-header">VEGETABLES</section>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">NAM YU VEGE <br>南乳菜</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$17.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">GARLIC AND SHALLOT STEAMED CHOY SUM <br>蒜油菜心</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$10.00</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">STIR FRIED CHOY SUM WITH GARLIC SAUCE <br>蒜炒菜心</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$16.00</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">CURRY VEGE POT <br>咖哩菜煲</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$17.50</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">STIR FRIED MIX VEGE <br> 四大天皇
                        <br>Okra, round beans, stinky beans, eggplant)
                        <br>(羊角豆, 茄子, 四季豆, 臭豆)
                        <br>A) GARLIC 蒜蓉
                        <br>B) BELACAN 马来盏炒
                        <br>C) CHILLY &amp; BEAN CURD SAUCE 椒丝腐乳</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$18.00</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">KANGKUNG <br>通菜
                        <br> A) GARLIC 蒜蓉
                        <br> B) BELACAN 马来盏炒
                        <br> C) CHILLY BEAN CURD SAUCE 椒丝腐乳</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$17.00</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">SALTED FISH BEAN SPROUT <br>咸鱼芽菜</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$17.00</span>
                </div>

            </div>

            <section class="chefspecial-header">OTHERS</section>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">STEAMED EGG WITH SOY SAUCE <br> 酱油蒸蛋</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$15.00</span>
                </div>

            </div>

            <div class="item">
                <div class="item__header">
                    <h3 class="item__title">RENDANG BEEF<br> 冷当牛肉</h3>
                    <span class="item__dots"></span>
                    <span class="item__price">$21.50</span>
                </div>

            </div>


        </div>  -->










        <!-- End chef Menu -->


    </div> <!-- End Wrapper -->
</div>