@import "../../../variable.scss";

.menu {
  display: none;
  border: 2px solid white;
  padding: 80px;
  // background: url(../../assets/image/bgpattern.png);
  background: $color-main;
  &--is-visible {
    display: grid;
  }

  @media (min-width: 768px) {
    // grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-template-rows: repeat(2, 1fr);
    padding: 80px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.item {
  &__header {
    display: flex;
    align-items: baseline;
    padding: 10px;
  }

  &__title {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: white;
    letter-spacing: 2px;
    margin: 0;
  }

  &__dots {
    flex: 1;
    // border-bottom: 1px dashed #aaa;
    margin: 0 15px;
  }

  &__price {
    color: white;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
  }

  &__description {
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
  }

  &__foodpic {
    height: 100px;
    width: 100px;
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.button {
  margin: 5px 15px;
  padding: 10px 20px;
  border: 1px solid white;
  background: $color-main;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:hover {
    color: $color-main;
    background: white;
    border: 1px solid $color-main;
    // padding: 13px 25px;
  }
  // &:active{
  //   color: blue;
  // }
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: yellow;
  border-radius: 3px;
  z-index: -1;
  transition: 0.24s;
}

* {
  box-sizing: border-box;
}

.column {
  text-align: center;
}

//   body {
//     margin: 0;
//     min-height: 100vh;
//     display: flex;
//     align-items: center;
//     background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
//       url("https://projects.saicharan.com/navpills/veg-table.jpg");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
//       Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
//     color: #fff;
//   }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  display: inline-block;
  border-bottom: 4px solid $color-main;
  margin-top: 100px;
  /*  font: 50px cookie, cursive;*/
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 30px;
}

.chefspecial-header {
  text-align: left;
  /*  font-weight: bold;*/
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  padding-top: 25px;
  padding-left: 10px;
}

.noodles-header {
  text-align: left;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 10px;
}

// .wrapper{
//   background: url(../../assets/image/wok.jpg);
// }

.menu-bg {
  background: url(../../assets/image/wok.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}


