<div class="wrapper">

    <h2>Our Menu</h2>

    <div class="buttons-container">
        <a href="#" class="button button--is-active" data-target="snacksMenu">Snacks</a>
        <a href="#" class="button" data-target="riceMenu">Rice</a>
        <a href="#" class="button" data-target="noodlesMenu">Noodles</a>
        <a href="#" class="button" data-target="chef1Menu">Chefs Special 1</a>
        <a href="#" class="button" data-target="chef2Menu">Chefs Special 2</a>
    </div>

    <!-- Start Rice Menu -->
    <div class="menu menu--is-visible" id="snacksMenu">
        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CHICKEN CURRY PUFF(each)咖喱角（鸡肉)</h3>
                <span class="item__dots"></span>
                <span class="item__price">$3.8</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">YAU CHA KWAI 油条 (1 roll) </h3>
                <span class="item__dots"></span>
                <span class="item__price">$3.80</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CHEE CHEONG FUN 猪肠粉</h3>
                <h3 class="item__title">A) SWEET SAUCE 甜酱</h3>
                <h3 class="item__title">B) GARLIC AND SHALLOT 蒜葱</h3>
                <span class="item__dots"></span>
                <span class="item__price">$5.80</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CURRY CHEE CHEONG FUN WITH FISH BALLS AND BEANCURD 咖喱猪肠粉</h3>
                <span class="item__dots"></span>
                <span class="item__price">$13.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">ANCHOVIES AND PEANUTS 花生江鱼仔</h3>
                <span class="item__dots"></span>
                <span class="item__price">$6.20</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">VEGE SPRING ROLL 蔬菜春卷 (4 rolls)</h3>
                <span class="item__dots"></span>
                <span class="item__price">$6.20</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">FRUIT ROJAK 啰杂</h3>
                <span class="item__dots"></span>
                <span class="item__price">$10.80</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">STUFFED CRAB 酿蟹盖(each)</h3>
                <span class="item__dots"></span>
                <span class="item__price">$11.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">PANDAN CHICKEN&nbsp;香兰鸡(5pcs)</h3>
                <span class="item__dots"></span>
                <span class="item__price">$8.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">LOH BAK 五香卤肉</h3>
                <span class="item__dots"></span>
                <span class="item__price">$9.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">FRIED&nbsp;CHICKEN WINGS 炸鸡翅(4 pcs)</h3>
                <span class="item__dots"></span>
                <span class="item__price">$10.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">BRAISED SNACK PLATE 卤水小吃</h3>
                <span class="item__dots"></span>
                <span class="item__price">$11.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">BRAISED CHICKEN FEET AND MUSHROOM 冬菇焖鸡脚</h3>
                <span class="item__dots"></span>
                <span class="item__price">$11.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CHICKEN SATAY 鸡肉沙爹(half dozen)</h3>
                <span class="item__dots"></span>
                <span class="item__price">$13.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">HAINAN CHICKEN DRUMSTICK 海南鸡腿</h3>
                <span class="item__dots"></span>
                <span class="item__price">$13.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">PAN FRIED RADDISH CAKE 炒萝卜糕</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>
    </div> <!-- End Snacks Menu -->

    <!-- Start Rice Menu -->
    <div class="menu" id="riceMenu">
        <div class="item">
            <div class="item__header">
                <h3 class="item__title">NASI LEMAK NYONYA CURRY CHICKEN 咖喱鸡娘惹椰浆饭</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">NASI LEMAK NYONYA RENDANG BEEF 冷当牛肉娘惹椰浆饭</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">HAINANESE CHICKEN RICE 海南鸡饭</h3>
                <span class="item__dots"></span>
                <span class="item__price">$15.90</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">BELACAN FRIED RICE 马来炒饭</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CHICKEN &amp; SALTED FISH FRIED RICE 咸鱼鸡粒炒饭</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">BAK KUT TEH WITH RICE 肉骨茶饭</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">BELACAN FRIED RICE 马来炒饭</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">YONG TAU FU SOUP WITH RICE 釀豆腐饭</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">BELACAN FRIED RICE 马来炒饭</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">WAT TAN WITH RICE 滑蛋炆饭</h3>
                <span class="item__dots"></span>
                <span class="item__price">$15.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">VEGE FRIED RICE 素炒饭</h3>
                <span class="item__dots"></span>
                <span class="item__price">$13.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>
    </div> <!-- End Rice Menu -->

    <!-- Start Noodles Menu -->
    <div class="menu" id="noodlesMenu">
        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CHICKEN LAKSA 鸡肉叻沙</h3>
                <span class="item__dots"></span>
                <span class="item__price">$15.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">SEAFOOD LAKSA 海鲜叻沙</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">YONG TAU FU LAKSA 釀豆腐叻沙</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">PAN MEE 家乡板面</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">FISH BALL NOODLE 鱼丸粉</h3>
                <span class="item__dots"></span>
                <span class="item__price">$13.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">YONG TAU FU NOODLE SOUP 釀豆腐清汤面</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">FISH HEAD NOODLE 鱼头米</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CHICKEN NOODLE 鸡丝河粉</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">PRAWN/HAR MEE 虾面</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">SEAFOOD TOM YAM NOODLE 冬阴米粉</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">PORK NOODLE 猪肉粉</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CLAYPOT NOODLE 瓦煲伊面</h3>
                <span class="item__dots"></span>
                <span class="item__price">$15.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>
    </div> <!-- End Noodles Menu -->

    <!-- Start Drinks Menu -->
    <div class="menu" id="chef1Menu">
        <div class="item">
            <div class="item__header">
                <h3 class="item__title">NYONYA CURRY CHICKEN 娘惹咖哩鸡</h3>
                <span class="item__dots"></span>
                <span class="item__price">$18.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">MARMITE CHICKEN&nbsp;妈密鸡</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CRISPY OATS CHICKEN&nbsp;麦片鸡</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">RENDANG&nbsp;CHICKEN 冷当鸡&nbsp;</h3>
                <span class="item__dots"></span>
                <span class="item__price">$20.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">SWEET &amp; SOUR CHICKEN 菠萝咕噜肉鸡</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">LEMON CHICKEN 柠汁鸡扒</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">VEGE TOFU POT 蔬菜豆腐煲</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">COLD TOFU WITH GARLIC &amp; SHALLOT 蒜蔥冷豆腐</h3>
                <span class="item__dots"></span>
                <span class="item__price">$13.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CURRY TOFU POT 咖哩豆卜煲</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">SEAFOOD TOFU POT 海鲜豆腐煲</h3>
                <span class="item__dots"></span>
                <span class="item__price">$20.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">MINCED MEAT TOFU POT 肉碎豆腐煲</h3>
                <span class="item__dots"></span>
                <span class="item__price">$18.90</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">YONG TO FU POT 釀豆腐煲</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">GINGER WINE CHICKEN&nbsp;黄酒鸡</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">PRESERVED VEGE FISH HEAD SOUP 酸菜鱼头汤</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">PEPPER PORK TRIPE SOUP&nbsp;胡椒猪肚汤</h3>
                <span class="item__dots"></span>
                <span class="item__price">$18.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">SEAFOOD TOM YUM SOUP&nbsp;海鲜冬阴汤</h3>
                <span class="item__dots"></span>
                <span class="item__price">$20.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">MINCED MEAT TOFU POT 肉碎豆腐煲</h3>
                <span class="item__dots"></span>
                <span class="item__price">$18.90</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">BAK KUT TEH 肉骨茶</h3>
                <span class="item__dots"></span>
                <span class="item__price">$25.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>
    </div> <!-- End chef1 Menu -->

    <!-- Start chef2 Menu -->
    <div class="menu" id="chef2Menu">
        <div class="item">
            <div class="item__header">
                <h3 class="item__title">MALAYSIAN CHILLI BABY CLAMS 辣子花蛤</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">KAM HEONG BABY CLAMS 甘香花蛤</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">SUPERIOR BABY CLAMS 上汤花蛤</h3>
                <span class="item__dots"></span>
                <span class="item__price">$14.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">ASSAM SOTONG 亚参鱿鱼</h3>
                <span class="item__dots"></span>
                <span class="item__price">$24.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">SAMBAL PETAI SOTONG 叁巴臭豆鱿鱼</h3>
                <span class="item__dots"></span>
                <span class="item__price">$25.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">ASSAM PRAWNS 亚参虾</h3>
                <span class="item__dots"></span>
                <span class="item__price">$26.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">SAMBAL PETAI&nbsp;PRAWNS 叁巴臭豆虾</h3>
                <span class="item__dots"></span>
                <span class="item__price">$27.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">MARMITE KING PRAWNS 妈密大虾</h3>
                <span class="item__dots"></span>
                <span class="item__price">$29.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">SALT AND PEPPER KING PRAWNS 椒盐大虾</h3>
                <span class="item__dots"></span>
                <span class="item__price">$29.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">KAM HEONG CRAB 甘香大虾</h3>
                <span class="item__dots"></span>
                <span class="item__price">$29.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CRISPY OATS KING PRAWNS 麦片大虾</h3>
                <span class="item__dots"></span>
                <span class="item__price">$29.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CURRY FISH HEAD 咖喱鱼头</h3>
                <span class="item__dots"></span>
                <span class="item__price">$30.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CURRY STINGRAY 咖喱魔鬼鱼</h3>
                <span class="item__dots"></span>
                <span class="item__price">$30.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">BLACK PEPPER CRAB 黑椒花蟹</h3>
                <span class="item__dots"></span>
                <span class="item__price">$39.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">MALAYSIAN CHILLI CRAB 辣子花蟹</h3>
                <span class="item__dots"></span>
                <span class="item__price">$39.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">KAM HEONG CRAB 甘香花蟹</h3>
                <span class="item__dots"></span>
                <span class="item__price">$39.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CURRY CRAB 咖喱花蟹</h3>
                <span class="item__dots"></span>
                <span class="item__price">$39.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">GINGER SHALLOT FISH FILET 姜葱鱼片</h3>
                <span class="item__dots"></span>
                <span class="item__price">$20.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">STEAMED MINCED PORK
                    WITH SALTED SHRIMP 咸虾蒸肉饼</h3>
                <span class="item__dots"></span>
                <span class="item__price">$19.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">BRAISED PORK HOCK 卤猪手</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">PORK TROTTER WITH SWEET VINEGAR
                    猪脚醋</h3>
                <span class="item__dots"></span>
                <span class="item__price">$18.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">SWEET &amp; SOUR PORK 菠萝咕噜肉</h3>
                <span class="item__dots"></span>
                <span class="item__price">$19.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">NAM YU VEGE 南乳菜</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">GARLIC AND SHALLOT STEAMED CHOY SUM 蒜油菜心</h3>
                <span class="item__dots"></span>
                <span class="item__price">$10.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">STIR FRIED CHOY SUM WITH GARLIC SAUCE 蒜炒菜心</h3>
                <span class="item__dots"></span>
                <span class="item__price">$16.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">CURRY VEGE POT 咖哩菜煲</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">STIR FRIED MIX VEGE 四大天皇</h3>
                <span class="item__dots"></span>
                <span class="item__price">$18.00</span>
            </div>
            <p class="item__description">(Okra, round beans, stinky beans, eggplant)
                (羊角豆, 茄子, 四季豆, 臭豆) A) GARLIC 蒜蓉
                B) BELACAN 马来盏炒
                C) CHILLY &amp; BEAN CURD SAUCE 椒丝腐乳</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">KANGKUNG 通菜</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.00</span>
            </div>
            <p class="item__description">A) GARLIC 蒜蓉
                B) BELACAN 马来盏炒
                C) CHILLY &amp; BEAN CURD SAUCE 椒丝腐乳</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">SALTED FISH BEAN SPROUT 咸鱼芽菜</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">STEAMED EGG WITH SOY SAUCE 酱油蒸蛋</h3>
                <span class="item__dots"></span>
                <span class="item__price">$15.00</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

        <div class="item">
            <div class="item__header">
                <h3 class="item__title">RENDANG BEEF 冷当牛肉</h3>
                <span class="item__dots"></span>
                <span class="item__price">$21.50</span>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.</p>
        </div>

    </div> <!-- End chef2 Menu -->

</div> <!-- End Wrapper -->