<div class="hero-cta">
  <div class="logo-pic">
    <img src="../../assets/image/logo2.png" class="hero-logo">
  </div>
  <img src="../../assets/image/hero-pic2.jpg" class="hero-pic">
</div>

<section class="mid-cta">
  <div class="container mid-container">
    <h2 class="midcta-h2">Come And Enjoy Our Specialities</h2>
   
    <div class="row">
      <div class="col-lg-4 ">
        <div class="food-intro">
          <h2> Authentic Malaysian Food</h2>
          <div>Check out our menu to explore the wonderful authentic Malaysian food we have to offer.</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="food-intro">
          <h2> Fresh and Delicious</h2>
          <div>Bringing quality Malaysian food to Sydney, our special recipes filled with fragrance and spices will
            delight you.</div>
        </div>
      </div>
      <div class="col-lg-4">
        <a class="food-intro">
          <h2>Rasa Sayang</h2>
          <div>Experience true Malaysian flavour which we have perfected over decades with traditional Malaysian
            ingredients. </div>
          </a>
      </div>

    </div>
  </div>
</section>