<div class="hero-cta">
  <div class="logo-pic">
    <img src="../../assets/image/logo2.png" class="hero-logo">
  </div>
  <img src="../../assets/image/hero-pic2.jpg" class="hero-pic">
</div>

<section class="mid-cta">
  <div class="container mid-container">
    <h2 class="midcta-h2">Our Specialities</h2>

    <div class="row">
      <div class="col-lg-4 ">
        <div class="food-intro1">
          <h2 class="food-h2"> Authentic Malaysian Food</h2>
          <div class="food-text">Check out our menu to explore the wonderful Authentic Malaysian food we have to offer.</div>
          <a href="/menu" router-link="/menu" class="food-links">Explore Our Menu</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="food-intro2">
          <h2 class="food-h2"> Fresh and Delicious</h2>
          <div class="food-text">Bringing quality Malaysian food to Sydney, our special recipes filled with fragrance and spices will
            delight you.</div>
            <a href="/about" router-link="/about" class="food-links">About Our Shop</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="food-intro3">
          <h2 class="food-h2">Rasa Sayang</h2>
          <div class="food-text">Experience true Malaysian flavour which we have perfected over decades with traditional Malaysian
            ingredients. </div>
            <a href="/location" router-link="/location" class="food-links">Location of Our Shop</a>
        </div>
      </div>

    </div>
  </div>
</section>