<div class="hero-cta">
  <div class="logo-pic">
    <img src="../../assets/image/logo2.png" class="hero-logo">
    <div class="herocta-btn">
      <a class="btn btn-primary btn-md active hero-btn" role="button" aria-pressed="true" href="/menu"
        router-link="/menu">View Our Menu</a>
    </div>
  </div>
  <img src="../../assets/image/hero-pic2.jpg" class="hero-pic" id="hero-main">
</div>

<!-- <div class="logo-container">
  <div class="row">
    <div class="col-md-4 col-sm-12 logomain-col">
      <a href="/about" router-link="/about" class="a-logo">
        <div class="imageWrapper-main">
          <img src="../../assets/image/shop.png" class="smalllogo-main">
          <div class="wordWrapper-main">
            <h3 class="h3-logodescMain">AboutUs</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 logomain-col">
      <a href="/menu" router-link="/menu" class="a-logo">
        <div class="imageWrapper-main">
          <img src="../../assets/image/menu.png" class="smalllogo-main">
          <div class="wordWrapper-main">
            <h3 class="h3-logodescMain">Menu</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 logomain-col">
      <a href="/location" router-link="/location" class="a-logo">
        <div class="imageWrapper-main">
          <img src="../../assets/image/cutlery.png" class="smalllogo-main">
          <div class="wordWrapper-main">
            <h3 class="h3-logodescMain">Location</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div> -->


<section class="mid-cta">
  <div class="mid-container">
    <h2 class="midcta-h2"><strong> Our Specialities</strong></h2>


    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="food-intro1 overlay">
          <div class="foodintro-word">
            <h2 class="food-h2"> Authentic Malaysian Food</h2>
            <div class="food-text">Check out our menu to explore the wonderful Authentic Malaysian food we have to
              offer.</div>
            <a href="/menu" router-link="/menu" class="food-links">Explore Our Menu</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  col-md-12 col-sm-12">
        <div class="food-intro2">
          <div class="foodintro-word">
            <h2 class="food-h2"> Fresh and Delicious</h2>
            <div class="food-text">Bringing quality Malaysian food to Sydney, our special recipes filled with fragrance
              and spices will
              delight you.</div>
            <a href="/about" router-link="/about" class="food-links">About Our Shop</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  col-md-12 col-sm-12">
        <div class="food-intro3 overlay">
          <div class="foodintro-word">
            <h2 class="food-h2">Rasa Sayang</h2>
            <div class="food-text">Experience true Malaysian flavour which we have perfected over decades with
              traditional Malaysian
              ingredients. </div>
            <a href="/location" router-link="/location" class="food-links">Location of Our Shop</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="mainintro-bg">
  <div class="container main-container mainintro-container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="main-h1">Welcome and Dine-In With Us</h2>
        <p class="main-p"> It is our pleasure to be able to serve you the most authentic Malaysian Food since 2014 at
          Willoughby, Sydney.
          <br><br>
          Whether it's Hainan Chicken Rice, Nasi Lemak, Bak Kut Teh, Char Kway Teow, Yong Tau Fu or other traditional
          Malaysian dish, experience the flavour with all the best ingredients at Chef Rasa Sayang.<br><br>
          For all reservations and take away orders contact us on 02 8068 4402.
        </p>
      </div>
    </div>
  </div>
</section>




<section class="main-bg">
  <div class="container table-container">
    <div class="maintable">
      <span style="font-size:24px;"><strong>Trading Hours</strong></span>
      <br>
      <br>
      <table style="margin:auto; text-align:left">
        <tr>
          <td class="tableday">Monday </td>
          <td>  12-3PM, 5-830pm</td>
        </tr>
        <tr>
          <td class="tableday">Tuesday</td>
          <td>12-3pm, 5-10pm</td>
        </tr>
        <tr>
          <td class="tableday">Wednesday</td>
          <td>12-3pm, 5-10pm</td>
        </tr>
        <tr>
          <td class="tableday">Thursday</td>
          <td> 12-3pm, 5-10pm</td>
        </tr>
        <tr>
          <td class="tableday">Friday</td>
          <td> 12-3pm, 5-10pm</td>
        </tr>
        <tr>
          <td class="tableday">Saturday </td>
          <td>12-3pm, 5-10pm</td>
        </tr>
        <tr>
          <td class="tableday"> Sunday </td>
          <td>12-3pm, 5-9pm</td>
        </tr>
      </table>
    </div>
  </div>
  <!-- <div class="col-lg-6 main-right">
          <img src="../../assets/image/fullcharkueyteow.JPG" class="main-shop">
        </div> -->
  <!--     </div>
  </div> -->
</section>

<div class="row rowfullwidth">
  <div class="col-md-4 nopadding">
    <img src="../../assets/image/chickenrice.jpg" class="foodpic2">
  </div>
  <div class="col-md-4 nopadding">
    <img src="../../assets/image/fullcharkueyteow.JPG" class="foodpic2 ">
  </div>
  <div class=" col-md-4  nopadding">
    <img src="../../assets/image/watanhor.jpg" class="foodpic2 ">
  </div>
</div>
