.hero-pic {
  width: 100vw;
  height: 100%;
  margin-top: -75px;
}
.hero-cta{
  max-height: 90vh;
  overflow: hidden;
}

.mid-cta {
  background-image: url("../../assets/image/bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 1000px;
  padding: 30px;
}

.food-intro {
  background: white;
  border: 2px solid #e2e2e2;
  padding: 60px 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
