@import "../../../variable.scss";
* {
  font-family: "Montserrat", sans-serif;
}
.hero-pic {
  width: 100%;
  height: 100%;
  margin-top: -5vw;
}
.hero-cta {
  max-height: 90vh;
  overflow: hidden;
}

.logo-pic {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero-logo {
  margin: auto;
  display: block;
  z-index: 99;
  width: 40vw;
  padding: 35vh 0 0 0;
  // margin-top: 25vh;
  // margin-bottom: 45vh;
  // margin-left: 50vh;
}
@media only screen and (max-width: 767px) {
  /* phones */
  .hero-logo {
    display: none;
  }
}

.hero-btn {
  // background: linear-gradient(to right,white, $color-main) !important;
  background: transparent !important;
  border: 3px solid #fff !important;
  text-transform: uppercase;
  border-radius: 300px;
  // box-shadow: 1px 1px $color-main;
  padding: 18px 30px;
  font-size: 1.1rem;
  &:hover {
    background: $color-main !important;
    border: none !important;
    padding: 28px 45px;
  }
  &:active {
    background: $color-main !important;
    border: none !important;
  }
}

.herocta-btn {
  z-index: 99;
  text-align: center;
}

.main-bg {
  width: 100%;
  height: 100%;
  background: url(../../assets/image/bgpattern.png);
  padding-top: 10px;
}

.main-container{
  margin-top: 100px;
  margin-bottom: 100px;
}
.main-shop {
  width: 100%;
  height: 100%;
}
.main-h2 {
  text-align: center;
  font-size: 30px;
  color: $color-main;
  margin-top: 10px;
  font-weight: bold;
}

.main-p{
  text-align: center;
  color: $color-main;
  margin-top: 50px;
}

.main-left{
  padding: 10px;
}

.mid-cta {
  // height: 60vh;
  padding: 30px;
  background-image: url("../../assets/image/bgpattern.png");
  background-repeat: repeat;
  // background-position: 50% 50%;
  // background-size: cover;
}

.midcta-h2 {
  border-bottom: 1px solid $color-main;
  text-align: center;
  padding: 7px;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  color: $color-main;
}

.food-intro1 {
  background-image: url("../../assets/image/noodleginger.jpg");
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: cover;
  // background: white;
  border: 2px solid whitesmoke;
  padding: 60px 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  height: 20vh;
  background-color: $color-main; // Tint color
  background-blend-mode: multiply;
  z-index: -2;
  min-height: 350px;
}
.food-intro2 {
  background-image: url("../../assets/image/noodleflower.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  // background: white;
  border: 2px solid whitesmoke;
  padding: 60px 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  height: 20vh;
  background-color: $color-main; // Tint color
  background-blend-mode: multiply;
  z-index: -2;
  min-height: 350px;
}
.food-intro3 {
  background-image: url("../../assets/image/spices.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  // background: white;
  border: 2px solid whitesmoke;
  padding: 60px 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  height: 20vh;
  background-color: $color-main; // Tint color
  background-blend-mode: multiply;
  z-index: -2;
  min-height: 350px;
}

.food-h2 {
  font-weight: 500;
  font-size: 2vw;
  color: white;
  margin-bottom: 20px;
}

.foodpic{
  height: 40vh;
  width: 100%;
  padding-top:40px; 
}

@media only screen and (max-width: 990px) {
  .food-intro1 {
    min-height: 0;
    height: auto;
  }

  .food-intro2 {
    height: auto;
    min-height: 0;
  }

  .food-intro3 {
    height: auto;
    min-height: 0;
  }
}
@media only screen and (max-width: 760px) {
  .food-h2 {
    font-size: 32px;
  }

  .food-intro1 {
    height: auto;
  }

  .food-intro2 {
    height: auto;
  }

  .food-intro3 {
    height: auto;
  }
}

@media only screen and (max-width: 900px) {
  .food-h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 760px) {
  .food-h2 {
    font-size: 32px;
  }

  .food-intro1 {
    height: auto;
  }

  .food-intro2 {
    height: auto;
  }

  .food-intro3 {
    height: auto;
  }
}

.food-text {
  font-weight: 400;
  font-size: 15px;
  color: white;
  text-align: justify center;
  margin-bottom: 20px;
}

.food-links {
  font-weight: 400;
  font-size: 15px;
  color: white;
  text-decoration: underline;
  padding: 5px;
  z-index: 1;
  &:hover {
    font-size: 20px;
  }
}
