.location-top{
    padding-top:10vh;
    background: url(../../assets/image/bg4.png);
    height: 100%;
}

.location-title{
    text-align: center;
    // margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 5vw;
    color: #333333;
}

.location-details{
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-size: 1.5vw;
    color: #333333;
    padding: 10px;
}