<!-- <div class="container-fluid location-container">
  <div class="top_content">
    <div class="col-lg-12">
      <h1 class="location-h1">Dining In With Us</h1>
    </div>
  </div>
</div> -->


<div class="locationcta-container">
  <div class="row">

    <div class="col-lg-4 col-md-12">
      <div class="warpper-locationdetails">
        <h2 class="h2-locationdetails">Our Address</h2>
        <p class="p-locationdetails">
          375, Victoria Avenue
          <br>Chatswood NSW 2067
          <br>Contact Number: 02 8068 4402
          <!-- <br>
          <br>
          <br>Monday-Friday: 11.00AM to 10.00PM
          <br>Saturday: 10.30AM to 10.00PM
          <br>Sunday: 10.30AM to 09.30PM -->
        </p>
      </div>
      <!-- <div class="wrapper-locationdetails2">
        <h2 class="h2-locationdetails">FOllOW US</h2>
      </div>
      <div class="wrapper-locationicons">
        <img src="../../assets/image/facebook.png" class="location-icon" width="50" height="50">
        <img src="../../assets/image/instagram.png" class="location-icon" width="50" height="50">
      </div> -->
      <!-- <div class="location-table">
        <span style="font-size:30px; font-weight: 400;">Trading Hours</span>
        <br>
        <br>
        <table style="padding-left:15px; text-align:left">
          <tr>
            <td class="tableday">Monday </td>
            <td> 11.00AM to 10.00PM</td>
          </tr>
          <tr>
            <td class="tableday">Tuesday</td>
            <td> 11.00AM to 10.00PM</td>
          </tr>
          <tr>
            <td class="tableday">Wednesday</td>
            <td> 11.00AM to 10.00PM</td>
          </tr>
          <tr>
            <td class="tableday">Thursday</td>
            <td> 11.00AM to 10.00PM</td>
          </tr>
          <tr>
            <td class="tableday">Friday</td>
            <td> 11.00AM to 10.00PM</td>
          </tr>
          <tr>
            <td class="tableday">Saturday </td>
            <td>10.30AM to 10.00PM</td>
          </tr>
          <tr>
            <td class="tableday"> Sunday </td>
            <td>10.30AM to 09.30PM</td>
          </tr>
        </table>
      </div> -->
    </div>
    <div class="col-lg-8 col-md-12 location-map">
      <div style="width: 100%"><iframe width="100%" height="700px"
          src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=375%2C%20Victoria%20Avenue%20Chatswood%20NSW%202067+(Chef%20Rasa%20Sayang)&amp;ie=UTF8&amp;t=h&amp;z=13&amp;iwloc=B&amp;output=embed"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
            href="https://www.maps.ie/map-my-route/">Plot
            a
            route map</a></iframe></div>
    </div>
  </div>

</div>


<!-- <div style="width: 100%"><iframe width="100%" height="700px"
    src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=375%2C%20Victoria%20Avenue%20Chatswood%20NSW%202067+(Chef%20Rasa%20Sayang)&amp;ie=UTF8&amp;t=h&amp;z=13&amp;iwloc=B&amp;output=embed"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Plot
      a
      route map</a></iframe></div> -->


<!-- <div class="col-lg-6 col-md-12">
  <div class="location-table">
    <span style="font-size:35px; font-weight: 500;">Trading Hours</span>
    <br>
    <br>
    <table style="margin:auto; text-align:left">
      <tr>
        <td class="tableday">Monday </td>
        <td> 11.00AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday">Tuesday</td>
        <td> 11.00AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday">Wednesday</td>
        <td> 11.00AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday">Thursday</td>
        <td> 11.00AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday">Friday</td>
        <td> 11.00AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday">Saturday </td>
        <td>10.30AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday"> Sunday </td>
        <td>10.30AM to 09.30PM</td>
      </tr>
    </table>
  </div> -->