<!-- <div class="container-fluid location-container">
  <div class="top_content">
    <div class="col-lg-12">
      <h1 class="location-h1">Dining In With Us</h1>
    </div>
  </div>
</div> -->


<div class="locationcta-container">
  <div class="row">

    <div class="col-lg-5 ">
      <div class="warpper-locationdetails">
        <h2 class="h2-locationdetails">Our Address</h2>
        <p class="p-locationdetails">
          Between Chatswood Chase and Archer Street
          <br>375, Victoria Avenue
          <br>Chatswood NSW 2067
          <br><a href="https://www.google.com/maps/dir//375+Victoria+Ave,+Chatswood+NSW+2067/@-33.7953582,151.1833056,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6b12a8d613323727:0xea61db796f30b7e2!2m2!1d151.1854943!2d-33.7953627">Directions</a>

          <!-- <br>
          <br>
          <br>Monday-Friday: 11.00AM to 10.00PM
          <br>Saturday: 10.30AM to 10.00PM
          <br>Sunday: 10.30AM to 09.30PM -->
        </p><br>
        <br>
        <h2 class="h2-locationdetails">Contact Number</h2>
<p class="p-locationdetails">
  02 8068 4402
</p>

        <br>
<br>

        <h2 class="h2-locationdetails">Opening Hours</h2>


<div class="maintable">


      <table class ="tablecenter">
        <tr>
          <td class="tableday">Monday </td>
          <td> 11.00AM to 10.00PM</td>
        </tr>
        <tr>
          <td class="tableday">Tuesday</td>
          <td> 11.00AM to 10.00PM</td>
        </tr>
        <tr>
          <td class="tableday">Wednesday</td>
          <td> 11.00AM to 10.00PM</td>
        </tr>
        <tr>
          <td class="tableday">Thursday</td>
          <td> 11.00AM to 10.00PM</td>
        </tr>
        <tr>
          <td class="tableday">Friday</td>
          <td> 11.00AM to 10.00PM</td>
        </tr>
        <tr>
          <td class="tableday">Saturday </td>
          <td>10.30AM to 10.00PM</td>
        </tr>
        <tr>
          <td class="tableday"> Sunday </td>
          <td>10.30AM to 09.30PM</td>
        </tr>
      </table>




</div>







      </div>

    </div>
    <div class="col-lg-7 location-map">
      <div style="width: 100%; padding-bottom:100px; ">
        <iframe width="100%" height="630px"
          src="https://maps.google.com/maps?width=100%&amp;height=630&amp;hl=en&amp;q=375%2C%20Victoria%20Avenue%20Chatswood%20NSW%202067+(Chef%20Rasa%20Sayang)&amp;ie=UTF8&amp;t=h&amp;z=13&amp;iwloc=B&amp;output=embed"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
            href="https://www.maps.ie/map-my-route/">Plot
            a
            route map</a></iframe></div>
    </div>
  </div>

</div>


<!-- <div style="width: 100%"><iframe width="100%" height="700px"
    src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=375%2C%20Victoria%20Avenue%20Chatswood%20NSW%202067+(Chef%20Rasa%20Sayang)&amp;ie=UTF8&amp;t=h&amp;z=13&amp;iwloc=B&amp;output=embed"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Plot
      a
      route map</a></iframe></div> -->


<!-- <div class="col-lg-6 col-md-12">
  <div class="location-table">
    <span style="font-size:35px; font-weight: 500;">Trading Hours</span>
    <br>
    <br>
    <table style="margin:auto; text-align:left">
      <tr>
        <td class="tableday">Monday </td>
        <td> 11.00AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday">Tuesday</td>
        <td> 11.00AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday">Wednesday</td>
        <td> 11.00AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday">Thursday</td>
        <td> 11.00AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday">Friday</td>
        <td> 11.00AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday">Saturday </td>
        <td>10.30AM to 10.00PM</td>
      </tr>
      <tr>
        <td class="tableday"> Sunday </td>
        <td>10.30AM to 09.30PM</td>
      </tr>
    </table>
  </div> -->