@import "../../../variable.scss";

.locationcta-container {
  background-color: $color-main;
  width: 100%;
  height: 100%;
  padding-top: 20vh;
}

.top_content {
  text-align: center;
}

// .location-h1 {
//   font-size: 40px;
//   color: #ffff;
//   text-transform: none !important;
//   text-align: center;
// }

.h2-locationdetails {
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  // border-bottom: 2px solid white;
  display: inline-block;
  // padding-bottom: 10px;
}

.p-locationdetails {
  color: white;
  font-size: 13px;
}

.warpper-locationdetails {
  margin-left: 50px;
}

.wrapper-locationdetails2 {
  text-align: left;
  margin-top: 8vh;
}

.wrapper-locationicons {
  text-align: left;
}

.location-icon {
  padding: 8px;
}

.location-table {
  text-align: left;
  color: white;
  margin-top: 0;
  margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 70px;
  // padding-left: 15px;
  padding-right: 15px;
  background: url(../../assets/image/noodleflower.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  background-color: $color-main;
  background-blend-mode: multiply;
  z-index: -2;
  border: 2px solid $color-main;
}
@media only screen and (max-width: 1000px) {
  .location-table {
    margin-top: 10px;
    margin-left: 0;
  }
}

.location-map {
}
@media only screen and (max-width: 1000px) {
  .location-map {
    margin-top: 2vh;
  }
}
